.App {
  text-align: center;
  /*font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;*/
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.other-user-video {
  width: 100%;
}

#field {
  flex-direction: column;
  width: 100%;
}

#field,
.video-grid-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
}

.background {
  width: 476px;
  height: 409px;
}

.video-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
